<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- الإنترنت -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- دعم Android TV / Google TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!-- التطبيق لا يحتاج شاشة لمس -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="Niyati TV"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.NiyatiTV"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <!-- ظهور التطبيق على Android TV -->
                <category
                    android:name="android.intent.category.LEANBACK_LAUNCHER" />

                <!-- ظهور التطبيق على الهاتف -->
                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
